<!DOCTYPE html>

<html>
    <head>
        <title>Livelog</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="styles/homepage.css">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="styles/homepage.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='/scripts/splitLog.js'></script>
        <script src='/scripts/parseLog.js'></script>
        <script src='/scripts/encounters.js'></script>
        <script src='/scripts/hellfireCitadel.js'></script>
        <script src='/scripts/emeraldNightmare.js'></script>
        <script src='/scripts/tombOfSargeras.js'></script>
        <script src='/scripts/nighthold.js'></script>
        <script src='/scripts/actors.js'></script>
        <script src='/scripts/replay.js'></script>
        <script src='/scripts/livelog.js'></script>
        <script src='/scripts/playerClass.js'></script>
    </head>
    <body onload = 'initLivelog();'>
        <div class="backgroundContainer">
             <div class="backgroundGradient"></div>
             <div class="backgroundTiles"></div>
        </div>
        <div class="container-narrow center-block" style="width:900px;">
            <div class="masthead">
                <%- authenticate %>
                <a href='/' style='display:inline-block;'><h1>WoWRaid.Review</h1></a> <h3 style='display:inline-block;'> / Livelog</h3>
            </div><!-- masthead -->
            <hr>
            <div class='panel panel-success'>
                <div class='panel-heading'><h3>Select the log file to watch</h3>Make sure Advanced Combat Logging is enabled.</div>
                <div class='panel-body'>
                    <input style='margin:auto;' class='btn btn-lg btn-success' type='file' id='fileSelect'>
                </div>
            </div>
            
            <div class='panel panel-warning'>
                <div class='panel-heading'>File Status</div>
                <div class='panel-body' id='fileStatus'></div>
            </div>
            <div class='panel panel-danger' >
                <div class='panel-heading'>Upload Status</div>
                <div class='panel-body' id='uploadPanel'></div>
            </div>
        </div>
    </body>
</html>
